@media (max-width: 1400px) {
  header {
    padding: 17px 3%;
    transition: 0.2s;
  }
  header.sticky {
    padding: 10px 3%;
    transition: 0.2s;
  }
  section {
    padding: 80px 3%;
    transition: 0.2s;
  }
  .home-text h1 {
    font-size: 4.5rem;
    transition: 0.2s;
  }
  .text h2 {
    font-size: 2.3rem;
    transition: 0.2s;
  }
  .title h2 {
    font-size: 2.3rem;
    transition: 0.2s;
  }
  .news-text h2 {
    font-size: 2.3rem;
    transition: 0.2s;
  }
  .nav-ul a {
    font-size: 1rem;
    transition: 0.2s;
  }
  .list ul li a {
    font-size: 1rem;
    transition: 0.2s;
  }
}
@media (max-width: 1040px) {
  .burger-bar {
    display: block;
  }
  .stick .burger-bar {
    color: #221314;
  }
  .home {
    height: 88vh;
  }
  .navigation{
    display: none;
  

}
/* .navbar{
    flex-direction: column;
} */
/* ul{
    flex-direction: column;
    margin-top: 30px;
  
} */
.navigation.activenav{
    display: block;
    cursor: pointer;
    
}
  .nav-ul {
    position: absolute;
    /* top: 0;
    right: -100%; */
    width: 270px;
    /* height: 120vh; */
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    transition: 0.5s all;
  }
  .nav-ul a {
    display: block;
    margin: 1.2rem 0;
  }

  .sticky .nav-ul a {
    color: white;
  }
  .nav-ul a:hover {
    color: #221314;
  }
  .open {
    right: 0;
  }
  .list {
    width: 50%;
    margin-bottom: 12px;
  }
}
@media (max-width: 575px) {
  .list {
    width: 100%;
  }
  .newsletter form {
    width: 350px;
  }
  .home-text h1 {
    font-size: 3.8rem;
    transition: 0.2s;
  }
  .text h2 {
    font-size: 1.8rem;
    transition: 0.2s;
  }
  .title h2 {
    font-size: 1.8rem;
    transition: 0.2s;
  }
  .news-text h2 {
    font-size: 1.8rem;
    transition: 0.2s;
  }

  .text {
    text-align: center;
  }
  .home {
    height: 85vh;
    transition: 0.2s;
  }
}
@media (max-width: 380px) {
  .newsletter form {
    width: 260px;
  }
  .col-content {
    width: 80%;
  }
}
