@media (max-width: 1400px) {
  header {
    padding: 17px 3%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  header.sticky {
    padding: 10px 3%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  section {
    padding: 80px 3%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .home-text h1 {
    font-size: 4.5rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .text h2 {
    font-size: 2.3rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .title h2 {
    font-size: 2.3rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .news-text h2 {
    font-size: 2.3rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .nav-ul a {
    font-size: 1rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .list ul li a {
    font-size: 1rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
}
@media (max-width: 1040px) {
  #burgerBar {
    display: block;
  }
  .sticky #burgerBar {

    color:  #113037;
  }
  .home {
    height: 88vh;
  }
  
  .nav-ul {
    position: absolute;
    top: 0;
    right: -100%;
    width: 270px;
    height: 120vh;
    background-color: #516D94;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 150px 30px;
    -webkit-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
  
  }
  .nav-ul a {
    display: block;
    margin: 1.2rem 0;
  }

  .sticky .nav-ul a {
    color: white;
  }
  .nav-ul a:hover {
    color: #516D94;
  }
  .open {
    right: 0;
  }
  .list {
    width: 50%;
    margin-bottom: 12px;
  }
}
@media (max-width: 575px) {
  .list {
    width: 100%;
  }
  .newsletter form {
    width: 350px;
  }
  .home-text h1 {
    font-size: 3.8rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .text h2 {
    font-size: 1.8rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .title h2 {
    font-size: 1.8rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .news-text h2 {
    font-size: 1.8rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .text {
    text-align: center;
  }
  .home {
    height: 85vh;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
}
@media (max-width: 380px) {
  .newsletter form {
    width: 260px;
  }
  .col-content {
    width: 100%;
    margin: 0 auto;
  }
  
}
@media (max-width: 370px) {
  .col-content {
    width:80%;
    margin: 0 ;
  
  }
}
